
.userinfo{
    padding: 1.5%;
    margin-left: auto;

}

.wrapper{
    position: relative;
}

.centeredtext{
    margin: 0 auto;
    /* position: absolute; */
    left: 0;
    right: 0;
}

.iconbutton{
    top: auto;
    bottom:auto;
    left: 0%;
    /* transform: translate(-50%, -50%); */
    width: 200;
    height: 60;
    padding: 16;
    borderRadius: 8;
}
